---
import "@/css/davewhipp.css";
// import "@/css/kjhealy.css";
const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <div id="main">
      <div id="content">
        <slot />
      </div>
    </div>
  </body>
</html>
