name: CI
on:
  push:
  pull_request:

jobs:
  spell-check:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: crate-ci/typos@master
        with:
          config: ./typos.toml

  secretlint:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: lts/*
      - name: Run secretlint
        shell: bash
        run: npx @secretlint/quick-start ./**/*

  action-timeline:
    needs:
      - spell-check
      - secretlint
    if: ${{ always() }}
    runs-on: ubuntu-slim
    steps:
      - uses: Kesin11/actions-timeline@54d513e0b5ff1158f1cf8321108d666a5a6c1fca # v2.2.5
